* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.file-row {
  flex-direction: row;
  gap: 8px;
}

.file-row input[type="text"] {
  flex: 1;
}

.file-row input[type="file"] {
  width: 101px;
}

.checkbox-row {
  flex-direction: row;
  gap: 15px;
}

textarea {
  resize: none;
  height: 70px;
}

input,
select,
textarea {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.submit-btn {
  width: 100%;
  padding: 9px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.submit-btn:hover {
  background: #0056b3;
}

.jobs {
  margin-top: 15px;
  max-height: 120px;
  overflow-y: auto;
}

.job-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0px;
  font-size: 13px;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 0%;
  background: #007bff;
  z-index: 0;
  transition: width 0.3s ease;
}

.job-card span,
.job-card button {
  position: relative;
  z-index: 1;
}

.cancel-btn,
.save-btn {
  color: rgb(0, 0, 0);
  background-color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  z-index: 1;
}

.cancel-btn:hover,
.save-btn:hover {
  color: rgb(160, 0, 0)
}